.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-border-radius-for-media);
  background: rgba(47, 47, 47, 0.604);

}

