.mobile-login-title-container {
  display: none;
}

.login-form{
  max-width: 40vw;
  display: flex;
}

.form-container{
  max-width: 350px;
  margin: var(--default-padding);
}

.button-container{
  display: flex;
  justify-content: center;
}

.login-title-container {
  display: flex;
  flex-direction: column;
  padding: var(--default-padding);
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 40vw;
  background-color: rgba(5, 39, 70, 0.099);
}

.login-page {
  display: flex;
}

.company-graphics {
  width: 60vw;
  background-image: url("../../../../public/female-climber.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .company-graphics {
    display: none;
  }

  .login-form-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../public/female-climber.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    overflow: scroll;
  }
  .mobile-login-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .mobile-login-form-components-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-flow: row wrap;
    width: 350px;
  }

}
