.mobile-login-title-container {
  display: none;
}

.login-title-container {
  display: flex;
  flex-direction: column;

  max-width: fit-content;
}

.huge-title {
  padding: 0 0 0 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0.2em 1em;
  gap: clamp(0.5rem, 2.5vw, 2rem);
  justify-content: center;
  font-size: clamp(0.5rem, 2.5vw, 2rem);
}

.login-title {
  font-size: var(--large-font-size);
  font-weight: var(--heavy-font-weight);
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 40vw;
  background-color: rgba(5, 39, 70, 0.099);
}

.login-page {
  display: flex;
}

.company-graphics {
  width: 60vw;
  background-image: url("../../../../public/female-climber.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .company-graphics {
    display: none;
  }

  .login-form-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../../public/female-climber.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
  }
  .mobile-login-title-container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 0px;
    width: fit-content;
  }

  .mobile-login-form-components-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .huge-title {
    font-size: var(--large-font-size);
    -webkit-text-stroke: 2px rgba(217, 255, 0, 0.474);
    padding: 0px 0px 0px 10px;
  }
}
