.service-page {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  overflow: scroll;
}

.button-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.grid-image-gallery{
  display: grid;
  max-width: fit-content;
  padding: auto;
  margin: 0 auto;
  align-items: center;
  column-gap: var(--column-gap-desktop);
  grid-auto-rows: 450px;
  grid-template-columns: repeat(3, 1fr);
}

.product-seller-profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.product-photo{
  width: 450px;
  height: 150px;
}

.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-border-radius-for-media);
  background: rgba(47, 47, 47, 0.604);
  transition: all 0.1s ease;
}


.product-container:hover{
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.form-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-flex-container{
  display: flex;
  flex-direction: row;
  gap: var(--column-gap-desktop);
  border: 1px solid red;
  justify-content: center;
}

.hero-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--column-gap-desktop);
}

.hero-business-photo{
  background-image: url(./hand-shake-new.png);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--default-border-radius-for-media);
}
.hero-business-photo-1{
  background-image: url(./equipment-exchange.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--default-border-radius-for-media);
}


.hero-content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--default-form-padding);
  border-radius: var(--default-border-radius-for-media);
  gap: var(--default-form-gap);
  width: 350px;
  height: 400px;
}


@media screen and (min-width: 1350px){

  .grid-image-gallery{
    display: grid;
    max-width: fit-content;
    align-items: center;
    column-gap: var(--column-gap-desktop);
    grid-auto-rows: 450px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {

  .service-page {
    overflow: scroll;
  }

  .grid-image-gallery{
    display: grid;
    max-width: fit-content;
    padding: auto;
    margin: 0 auto;
    align-items: center;
    column-gap: var(--column-gap-mobile);
    grid-auto-rows: 400px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-container {
    flex-direction: row;
  }

  .service-page {
    overflow: scroll;
  }

  .grid-image-gallery{
    display: grid;
    max-width: fit-content;
    padding: auto;
    margin: 0 auto;
    column-gap: var(--column-gap-mobile);
    grid-auto-rows: 390px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {

  .grid-image-gallery{
    display: flex;
    flex-direction: column;
    gap: var(--row-gap-mobile);
    max-width: fit-content;
    align-items: center;
  }

  .hero-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--column-gap-desktop)
  }

}

