.service-page {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  overflow: scroll;
}

.card-container {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}



.grid-display{
  display: grid;
  max-width: fit-content;
  padding: auto;
  margin: 0 auto;
  align-items: center;
  column-gap: 20px;
  grid-auto-rows: 450px;
  grid-template-columns: repeat(3, 1fr);
}

.product-information-flexbox-container-parent{
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.product-seller-profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.product-photo{
  width: 450px;
  height: 150px;
}

.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-border-radius-for-media);
  background: rgba(47, 47, 47, 0.604);
  transition: all 0.1s ease;
}

.product-container:hover{
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.form-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

@media screen and (min-width: 900px) and (max-width: 1000px) {

  .service-page {
    overflow: scroll;
  }

  .grid-display{
    display: grid;
    max-width: fit-content;
    padding: auto;
    margin: 0 auto;
    align-items: center;
    column-gap: 10px;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-container {
    flex-direction: row;
  }

  .service-page {
    overflow: scroll;
  }

  .grid-display{
    display: grid;
    max-width: fit-content;
    padding: auto;
    margin: 0 auto;
    column-gap: 10px;
    grid-auto-rows: 390px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {


  .service-page {
    overflow: scroll;
  }

  .grid-display{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: fit-content;
    grid-auto-rows: 350px;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .product-container{
    width: 340px;
  }

  .product-information-flexbox-container-parent{
    width: 90%;

  }
}

@media screen and (min-width: 1350px){

  .grid-display{
    display: grid;
    max-width: fit-content;
    align-items: center;
    column-gap: 20px;
    grid-auto-rows: 450px;
    grid-template-columns: repeat(4, 1fr);
  }
}
