.service-page {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1vh;
  gap: var(--component-gap);
}



.grid-wrapper{
  display: grid;
  width: 100vw;
  gap: var(--component-gap);
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 140px;
  grid-template-areas:
  "nav-grid-area hero-header-and-button-container"
  "nav-grid-area toggle-content"
}

.nav-grid-area{
  grid-area: nav-grid-area;
}

.hero-header-and-button-container{
  grid-area: hero-header-and-button-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}


.hero-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--default-padding);
  padding-top: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: var(--default-padding);
  padding-top: 0;
  width: 100%;
  justify-content: center;
}

.toggle-content{
  overflow: scroll;
  grid-area: toggle-content;
}

.product-seller-profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.product-photo{
  width: 450px;
  height: 150px;
}

.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--default-border-radius-for-media);
  background: rgba(47, 47, 47, 0.604);
  transition: all 0.1s ease;
}


.product-container:hover{
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.form-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-flex-container{
  display: flex;
  flex-direction: row;
  gap: var(--column-gap-desktop);
  border: 1px solid red;
  justify-content: center;
}

.hero-flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--column-gap-desktop);
}

.hero-business-photo{
  background-image: url(./hand-shake-new.png);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--default-border-radius-for-media);
}
.hero-business-photo-1{
  background-image: url(./equipment-exchange.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: var(--default-border-radius-for-media);
}


.hero-content-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--default-form-padding);
  border-radius: var(--default-border-radius-for-media);
  gap: var(--default-form-gap);
  width: 350px;
  height: 400px;
}


@media screen and (min-width: 1350px){

}

@media screen and (min-width: 900px) and (max-width: 1000px) {

  .service-page {
    overflow: scroll;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .card-container {
    flex-direction: row;
  }

  .service-page {
    overflow: scroll;
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {

  .hero-flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--column-gap-desktop)
  }

}

