<div class="service-page">
  <div class="blackout-screen">
    <h1 class="huge-title-dynamic center-text">Services</h1>
    <p class="center-text">Created for you; Powered by you. Find what you're looking for, today.</p>

    <div class="button-container">

      @for(item of serviceButtonMap.keys(); track item){
      <label for="{{serviceButtonMap.get(item)}}"></label>
      <input (click)="toggleServiceButton(item)" type="button" class=" button button-medium secondary"
        [class.secondary-change-button-style-on-click]="serviceButtonClicked(item)" value="{{serviceButtonMap.get(item)}}">
      }
    </div>

    <!-- BUY BUTTON AND ASSOCIATED COMPONENTS BEGINS -->
    @if(serviceButtonClicked("Buy")){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Get your hands on some previously loved
      equipment</p>

      <app-photo-gallery-grid>
      @if (product().length > 0){

      @for (products of product(); track products.productName){
      <app-card (click)="toggle('modalForBuying')" class="illuminate-border-transition">
        <app-photo-for-card>
          <!--insert-photo-here-->
        </app-photo-for-card>
        <app-info-for-card>
          <div class="product-information">
            <div class="sub-text brand-color-grey">{{products.productSellerLocation}}</div>
            <div class="small-text">{{products.productPrice}}</div>
            <div class="small-text">{{products.productName}}</div>
          </div>
          <div class="product-seller-profile-photo">
            <img class="profile-photo" [src]="products.productSellerProfilePhoto">
          </div>
        </app-info-for-card>
      </app-card>
      }
      }
    </app-photo-gallery-grid>
    }

    @if(formSignal()==='modalForBuying'){
    <app-modal-for-buying (discard)="checkCurrentForm('modalForBuying')"></app-modal-for-buying>
    }
    <!-- BUY BUTTON AND ASSOCIATED COMPONENTS ENDS -->

    @if(serviceButtonClicked("Sell")){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Make some cash for new shiny toys</p>
    <div class="form-flex-container">
      <app-form-for-selling (toggleDiscardSellForm)="checkCurrentForm('modalForRentalProgram')" >
      </app-form-for-selling>
    </div>
    }

    @if(serviceButtonClicked("Rentals")){
    <div class="hero-flex-container">
      <div class="hero-business-photo">
        <app-hero>
          <div class="hero-content-box">
            <h1>Rental Program Initiative</h1>
            <p>Become part of the business. Allow members to rent your equipment</p>
            <label for="get-Started"></label>
            <input (click)="toggle('modalForRentalProgram')" type="button" class=" button button-medium secondary" value="Get Started">
          </div>
        </app-hero>
      </div>
      <div class="hero-business-photo-1">
        <app-hero class="illuminate-border-transition">
          <div class="hero-content-box">
            <h1>Rent From a Member</h1>
            <p>Support your neighbours. Find what you need from your fellow community.</p>
            <label for="browse-Items"></label>
            <input (click)="toggle('Browse Items')" type="button" class=" button button-medium secondary" value="Browse Items">
          </div>
        </app-hero>
      </div>
    </div>
  }
      @if(formSignal() === 'Browse Items'){
      <app-photo-gallery-grid>
          @if (product().length > 0){

          @for (products of product(); track products.productName){
          <app-card (click)="false" class="illuminate-border-transition">
            <app-photo-for-card>
              <!--insert-photo-here-->
            </app-photo-for-card>
            <app-info-for-card>
              <div class="product-information">
                <div class="sub-text brand-color-grey">{{products.productSellerLocation}}</div>
                <div class="small-text">{{products.productPrice}}</div>
                <div class="small-text">{{products.productName}}</div>
              </div>
              <div class="product-seller-profile-photo">
                <img class="profile-photo" [src]="products.productSellerProfilePhoto">
              </div>
            </app-info-for-card>
          </app-card>
          }
          }
        </app-photo-gallery-grid>
        }

        @if(false){
        <app-modal-for-buying (discard)="false"></app-modal-for-buying>
        }

    @if(formSignal() === "modalForRentalProgram"){
      <app-modal-for-rental-program (discard)="checkCurrentForm('modalForRentalProgram')"></app-modal-for-rental-program>
    }




    @if(serviceButtonClicked("Request")){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Not seeing what you want? Let the
      community hear your needs!</p>
    }
  </div>
</div>
