<div class="service-page">
  <div class="blackout-screen">
    <h1 class="huge-title-dynamic center-text">Services</h1>
    <p class="center-text">Created for you; Powered by you. Find what you're looking for, today.</p>

    <div class="card-container">

      <label for="buy-button"></label>
      <input (click)="toggleBuy()" type="button" class=" button button-medium secondary large-text"
        [class.secondary-change-background-on-click]="buyButtonClicked()" value="Buy">

      <label for="sell-button"></label>
      <input (click)="toggleSell()" type="button" class=" button button-medium secondary large-text"
        [class.secondary-change-background-on-click]="sellButtonClicked()" value="Sell">

      <label for="rent-button"></label>
      <input (click)="toggleRental()" type="button" class=" button button-medium secondary large-text"
        [class.secondary-change-background-on-click]="rentalButtonClicked()" value="Rentals">

      <label for="request-button"></label>
      <input (click)="toggleRequest()" type="button" class=" button button-medium secondary large-text"
        [class.secondary-change-background-on-click]="requestButtonClicked()" value="Request">

    </div>

    <!-- BUY BUTTON AND ASSOCIATED COMPONENTS BEGINS -->
    @if(buyButtonClicked()){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Get your hands on some previously loved
      equipment</p>

    <div class="grid-display">
      @if (product().length > 0){

      @for (products of product(); track products.productName){
      <app-card (click)="toggleMessageSellerModal()">
        <app-photo-for-card>
          <!--insert-photo-here-->
        </app-photo-for-card>
        <app-info-for-card>
          <div class="product-information">
            <div class="sub-text brand-color-grey">{{products.productSellerLocation}}</div>
            <div class="small-text">{{products.productPrice}}</div>
            <div class="small-text">{{products.productName}}</div>
          </div>
          <div class="product-seller-profile-photo">
            <img class="profile-photo" [src]="products.productSellerProfilePhoto">
          </div>
        </app-info-for-card>
      </app-card>
      }
      }
    </div>
    }

    @if(messageSellerClicked()){
    <app-modal-for-buying (discard)="toggleMessageSellerModal()"></app-modal-for-buying>
    }
    <!-- BUY BUTTON AND ASSOCIATED COMPONENTS ENDS -->

    @if(sellButtonClicked()){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Make some cash for new shiny toys</p>
    <div class="form-flex-container">
      <app-form-for-selling (discard)="toggleSellItemModal()">
      </app-form-for-selling>
    </div>
    }

    @if(rentalButtonClicked()){
    <app-photo-for-card>
      <p class="illuminate-border-transition">deez Nuts!</p>
    </app-photo-for-card>
    }


    @if(requestButtonClicked()){
    <p class="sub-text center-text brand-color-yellow fade-in-transition-slow">Not seeing what you want? Let the
      community hear your needs!</p>
    }
  </div>
</div>
