.field-flexbox{
  display: flex;
  flex-direction: row;
  gap: var(--column-gap-desktop);
}

.modal{
  max-width: 700px;
}

.field-flexbox input{
  width: 50%;
}

.appointment-picker-container{
  display: flex;
  flex-direction: column;
}

.form-container{
  min-width: fit-content;
  max-width: 800px;
}

.warning-popup-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 18px;
}

@media screen and (min-width: 0px) and (max-width: 700px){

    .field-flexbox{
      flex-direction: row;
      width: 100%;

    }

    .field-flexbox input{
      width: 49%;
      height: 32px;
      font-size: 8px;
    }

    .default-form{
      gap: 8px;
      padding: 24px;
    }

    .field-flexbox{
      gap: 8px;
    }

    .default-text-area{
      font-size: 8px;
      height: 80px;
    }

    h2{
      font-size: 16px;
    }

    .text-inputs{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .form-title{
      font-size: 18px;
    }

  }


