/*READ ME READ ME READ ME
*
*
*
*I am pretty sure the only thing stopping the nav bar from not being split up into the if/else statement is the animation is the animation attribute under .content-container-{open/close}.
*You can easily remedy this with property binding, but ensure that there are no other differences between to open and close nav before going forward
*
*
* @Author: Nathan Rous
* @Date: 01/04/2026 [DD/MM/YYYY]
*/

.nav-list{
  /*NEVER EVER FUCKING SET WIDTH TO 100% HERE OR IT BREAKS THE ANIMATION*/
  /*I MEAN IT DON'T YOU FUCKING DO IT*/
  font-size: var(--small-font-size);
  display: flex;
  flex-direction: column;

}

.svg-element{
  width: 50px;
}

.content-container-open{
  border-radius: var(--default-border-radius-for-media);
  height: 98vh;
  width: 200px;
  position: sticky;
  overflow: hidden;
  top: 1vh;
  animation: openingAnimation 1s forwards;
}

.content-container-close{
  border-radius: var(--default-border-radius-for-media);
  height: 98vh;
  width: 200px;
  position: sticky;
  overflow: hidden;
  top: 1vh;
  animation: closingAnimation 1s forwards;

  /*add*/
}

.nav-container{
  display: flex;
  align-items: center;
}

.company-name-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.company-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 18px;
  height:75px;

}

.sidebar-open{
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--default-padding);
  justify-content: flex-end;
}

.sidebar-close{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  padding: var(--default-padding);

}

.route-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 150px;
  height: 50px;
  /*add*/
}

@keyframes closingAnimation {
  0%{
    width: 100%;
  }
  50%{
    width: 48px;
  }
  100%{

    width: 50px;
  }
}

@keyframes openingAnimation {
  0%{
    width: 50px;
  }
  59%{
    width: 100%;
  }
  100%{
    width: 99%;
  }
}
