#free-flow-component{
  z-index: 1;
  position: absolute;
  background-color: rgba(3, 3, 3, 0.739);
  border-radius: var(--default-border-radius-for-navigation);
  padding: 10px;
  margin: 10px;
}

ul, .fade-in-left, #animated-nav-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  list-style-type: none;
  color: white;
  gap: 1em ;
  font-size: var(--default-font-size-for-navigation);
}




li:hover, .closed-list:hover{
  color: rgb(244, 245, 239);
  text-shadow: -2px 0 3px rgb(204, 255, 0);
}

li:active{
  color: rgb(214, 235, 157);
  text-shadow: 1px 0 3px rgb(163, 236, 236);
}

/*trying to do shit the angular way ig*/

@keyframes fadeInLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left:not(.hamburger_open) {
  animation: fadeInLeft 0.23s forwards;
}







