ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  justify-content: center;
  list-style-type: none;
  color: white;
  gap: 1em;
  font-size: clamp( 0.8rem, 2vw, 1.2rem );
  margin: 0 0 0.5vw 0;
}

li:hover{
  color: rgb(244, 245, 239);
  text-shadow: -2px 0 3px rgb(204, 255, 0);
}

li:active{
  color: rgb(214, 235, 157);
  text-shadow: 1px 0 3px rgb(163, 236, 236);

}

