
.hero{
  background: rgba(30, 2, 33, 0.049);
  border-radius: 50px;
  box-shadow:
  0 5px 32px rgba(30, 2, 33, 0.094),
  0 0 120px rgba(30, 2, 33, 0.2);
  padding: 32px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.068);
}

