
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(255, 255, 255, 0.138);
  border-radius: var(--default-border-radius-for-media);
  padding: var(--default-form-padding);
  gap: var(--default-form-gap);

  width: 1050px;
  height: 400px;
}

