/* You can add global styles to this file, and also import other style files */

:root {
  --default-background-color: black;
  --default-font-color: white;
  --default-font-family: "Space Mono", monospace;
  --default-border-radius-for-media: 10px;
  --default-border-radius-for-navigation: 100px;
  --default-font-size: 16px;
  --default-font-size-for-navigation: 1.5vw;
  --heavy-font-weight: 700;
  --heavier-font-weight: 800;
  --heaviest-font-weight: 900;
  --default-font-weight: 400;
  --light-font-weight: 300;
  --lighter-font-weight: 200;
  --lightest-font-weight: 100;
  --tiny-font-size: 0.5rem;
  --small-font-size: 0.8rem;
  --large-font-size: 1.2rem;
  --huge-font-size: 2rem;
  --default-line-height: 2em;
  --default-form-width: 300px;
  --large-button-width: 300px;
  --medium-button-width: 150px;
  --small-button-width: 75px;
  --default-form-padding: 32px;
  --default-form-gap: 32px;
  --z-index-modal: 1000;
  --disabled-screen-tint: rgba(0, 0, 0, 0.739);

  background-color: var(--default-background-color);
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
}

html,
body {
  width: 100%;
  font-size: var(--default-font-size);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    to top,
    #000000,
    #050102,
    #010101,
    #070007,
    #07010b
  );
}

/*GLOBAL FORM LOGIC BEGINS*/
/*Default input begins*/
.default-text {
  background: none;
  color: var(--default-font-color);

  width: var(--default-form-width);
  font-size: var(--default-font-size);
}

input {
  border: none;
}

label {
  display: none;
}

a,
li,
ul,
button {
  all: unset;
}

.default-input:hover {
  text-shadow: 0.5px 0 0px rgb(211, 211, 211);
  border-bottom: 1px solid rgba(181, 181, 181, 0.686);
}

.default-input:focus {
  outline: none;
  text-shadow: 0.5px 0 0px rgb(211, 211, 211);
  border-bottom: 1px solid rgba(181, 181, 181, 0.686);
}
/*Default input ends*/

/*Setting label to no display*/

/*GLOBAL FORM LOGIC ENDS*/

/*GLOBAL BUTTON LOGIC BEGINS*/

.button {
  border-radius: var(--default-border-radius-for-media);
  color: var(--default-font-color);
  cursor: pointer;
}

.button-medium {
  width: var(--medium-button-width);
}

.button-large {
  width: var(--large-button-width);
}

.button-small{
  width: var(--small-button-width);
}

/*Primary button begins*/

.primary {
  border: none;
  background-color: rgb(15, 32, 128);
  transition: all 0.12s ease;
  border: 1px solid rgba(128, 128, 128, 0.322);
}

.primary:hover {
  border: 1px solid rgba(128, 128, 128, 0.879);
}

.primary:active {
  border: 1px solid rgba(225, 226, 231, 0.726);
  background-color: rgb(8, 18, 75);
}

/*Primary button ends*/

/*Secondary button begins*/

.secondary {
  border: 1px solid rgba(128, 128, 128, 0.092);
  background-color: black;
  box-shadow: rgba(255, 255, 255, 0.11) 0px 1px 1px;
}

.secondary:active {
  background-color: #020000;
  box-shadow: rgba(255, 255, 255, 0.497) 0px 0px 1px;
  animation: buttonFeedbackOnClick 0.05s forwards;
}

.secondary:hover {
  border: 1px solid rgba(128, 128, 128, 0.183);
}

.secondary-change-background-on-click {
  background-color: #100f0fcc;
}

/*Secondary button ends*/

/*Danger button begins*/

.danger{
  background: rgba(255, 60, 0, 0.461) ;
  border: 1px solid rgb(94, 97, 105);
}

.danger:active{
}

.danger:hover{
}

/*Danger button ends*/

/*Button animations begin*/

@keyframes boxShadowOnHover {
  0% {
    box-shadow: rgba(255, 255, 255, 0.371) 0px 0px 0px;
  }

  100% {
    box-shadow: rgba(255, 255, 255, 0.371) 0px 0px 2px;
  }
}

@keyframes buttonFeedbackOnClick {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.01, 1.01, 1.01);
  }
}

/*Button animations end*/
/*GLOBAL BUTTON LOGIC ENDS*/

/*GLOBAL TYPOGRAPHY BEGINS*/
.huge-title-dynamic {
  font-size: clamp(1.4rem, 3vw, 2.5rem);
  padding: clamp(0.2rem, 0.5vw, 1.2rem);
  font-weight: 500;
}

.large-title-dynamic {
  font-size: clamp(1rem, 1.5vw, 2rem);
  padding: clamp(2px, calc(0.318px + 0.841vw), 12px);
  font-weight: 500;
}

.center-text {
  text-align: center;
}

.default-text {
  font-size: var(--default-font-size);
  font-weight: 500;
  line-height: var(--default-line-height);
  padding: var(--default-padding);
}

.large-text {
  font-size: var(--large-font-size);
  font-weight: 500;
  line-height: var(--default-line-height);
  padding: var(--default-padding);
  color: white;
}

.small-text {
  font-size: var(--small-font-size);
  padding: var(--default-padding);
}

.sub-text {
  font-size: var(--small-font-size);
  padding: var(--default-padding);
}

.brand-color-grey {
  color: grey;
}

.brand-color-yellow {
  color: yellow;
}

/*GLOBAL TYPOGRAPHY ENDS*/

/*General Animations Begin*/
.fade-in-transition-fast {
  animation: fadeIn 0.18s;
}

.fade-in-transition-slow {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*General Animations End*/

.form-title {
  font-size: var(--large-font-size);
  font-weight: var(--heavy-font-weight);
}

/*FORM STYLING BEGINS*/

.default-form {
  display: flex;
  flex-direction: column;
  gap: var(--default-form-gap);
  padding: var(--default-form-padding);
}

.default-input {
  /* Removes top, left, and right borders */
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.181);
}

.default-text-area {
  background: none;
  color: white;
  padding: var(--default-padding);
  line-height: var(--default-line-height);
  border-radius: var(--default-border-radius-for-media);
  width: 300px;
  height: 150px;
}

/*FORM STYLING ENDS*/
