/* You can add global styles to this file, and also import other style files */


:root{
  --default-background-color: black;
  --default-font-color: white;
  --default-font-family: "Space Mono", monospace;
  --default-border-radius-for-media: 2vw;
  --default-border-radius-for-navigation: 20px;
  --default-font-size: 16px;
  --default-font-size-for-navigation: clamp( 0.7rem, 1.5vw, 1.5rem);
  --heavy-font-weight: 700;
  --heavier-font-weight: 800;
  --heaviest-font-weight: 900;
  --default-font-weight: 400;
  --light-font-weight: 300;
  --lighter-font-weight: 200;
  --lightest-font-weight:100;
  --tiny-font-size: 0.5rem;
  --small-font-size: 0.8rem;
  --large-font-size: 1.5rem;
  --huge-font-size: 2.0rem;

  background-color: var(--default-background-color);
  color: var(--default-font-color);
  font-family: var(--default-font-family);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);


}

html, body{

    height: 100vh;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
  }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient(to top, #000000, #080003, #0d0009, #0f0010, #0e0116);
}

/*GLOBAL FORM LOGIC BEGINS*/
/*Default input begins*/
input.default-text{
  background-color: rgba(39, 37, 37, 0);
  padding: 0.5em;
  color: var(--default-font-color);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.088);
  font-weight: var(--heavy-font-weight);
  height: 32px;
  width: 300px;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.181); /* Removes top, left, right borders */

}

input.default-input:hover{
  text-shadow: 0.5px 0 0px rgb(211, 211, 211);
  border-bottom: 1px solid rgba(181, 181, 181, 0.686);
}

input.default-input:focus{
  outline: none;
  text-shadow: 0.5px 0 0px rgb(211, 211, 211);
  border-bottom: 1px solid rgba(181, 181, 181, 0.686);
}
/*Default input ends*/

/*Setting label to no display*/
label{
  display: none;
}
/*GLOBAL FORM LOGIC ENDS*/

/*GLOBAL BUTTON LOGIC BEGINS*/

input.default-button{
  border-radius: 16px;
  background-color: rgb(39, 37, 37);
  color: var(--default-font-color);
  height: 32px;
  width: 300px;
  font-size: 12px;
  border: 1px solid rgba(128, 128, 128, 0.303);
}

/*Primary button begins*/

input.primary{
  border: none;
  cursor: pointer;
  padding: 0.1em;
  background-color: rgb(43, 73, 242);
  transition:
    background-color 0.1s ease 0.010s,
    text-shadow 0.1s ease 0.012s,
    border 0.3s ease 0.012s, box-shadow 0.05s ease 0.010s;
  border: 1px solid rgba(128, 128, 128, 0.322);
  margin: 8px;
}

input.primary:hover{
  background-color: rgb(64, 92, 255);
  text-shadow: 0.5px 0px rgb(211, 211, 211);
  border: 1px solid rgba(128, 128, 128, 0.879);
  box-shadow: 0 0 0px #104885,
              0px 1px 1px #819096,
              0 0 1px #ffffff;
}

input.primary:active{
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 3px rgb(38, 124, 124);
  background-color: rgb(0, 20, 130);
  box-shadow: 0 0 0px #104885,
              0 1px 1px #6d818a,
              0 0 1px #ffffff;
}

/*Primary button ends*/
/*GLOBAL BUTTON LOGIC ENDS*/

/*GLOBAL TYPOGRAPHY BEGINS*/
/*Huge dynamic title begins*/
h1.huge-title-dynamic {
  font-size: clamp( 1.4rem, 3.0vw, 2.5rem );
  padding: clamp(0.2rem, 0.5vw, 1.2rem);
  font-weight: 500;
}

p.default{
  padding: clamp(0.5rem, 0.8vw, 1.2rem);
  font-size: var(--small-font-size);
  font-weight: 500;}
/*Huge dynamic title ends*/
/*GLOBAL TYPOGRAPHY ENDS*/

h1.form-title {
  font-size: var(--large-font-size);
  font-weight: var(--heavy-font-weight);
  padding: clamp(0.3rem, 0.3vw, 0.5rem);
}
