#article-photo{
  background-image: url(./images/man_bouldering.jpg);
  border-radius: var(--default-border-radius);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 98vh;
  min-width: 50vw;

}

#scrolling-content{
  overflow: scroll;
  height: 98vh;
}


#flexbox-container{
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  margin: 0.5vw;
}

@media screen and (min-width: 0px) and (max-width: 1000px){
  #flexbox-container{
    flex-direction: column;
  }

  #article-photo{
    background-image: url(./images/man_bouldering.jpg);
    border-radius: var(--default-border-radius);
    background-position: center 70%;
    background-size:cover;
    height: 30vh;
    padding: 0px;
    overflow: scroll;
    min-width: 99vw;

  }

  #scrolling-content{
    height: 67vh;
  }

}




